@media all and (min-width: 992px) {
    /* navbar design  */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    /* .navbar .nav-item:hover .nav-link {}  */
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    /* top bar design  */
    .top-bar-wrap .icon-group {
        display: none;
    }
    .top-bar-wrap .mobile {
        text-align: start;
    }
    .top-bar-wrap .mail {
        text-align: start;
    }
    /* top banner design  */
    .top-banner h1 {
        font-size: 1.875rem;
    }
    /* section-2 Featured section  */
    .feature-section .box-cls {
        margin-left: 3rem;
    }
    /* about section  */
    .about-section h4 {
        font-size: 0.875rem;
    }
    .about-section p {
        font-size: 0.775rem;
    }
    /* footer  */
    .footer .bizland {
        margin: 0 auto;
        text-align: center;
    }
}